
.bg-video  {

    height: 100%;
  position: absolute;
   border-radius: inherit;
}

.outshape {
  
    background: rgba(190,190,190,0.14);
    
    border: 3px solid transparent;
    border-color: rgba(255, 255, 255,0.5);
    box-shadow:  6px 6px 24px rgba(0, 0, 0, 0.25);
    box-sizing: border-box;
}

.inshape {
    background: rgba(190,190,190,0.14);
    
    border: 3px solid transparent;
    border-color: rgba(255, 255, 255,0.5);
    box-shadow: inset 16px 16px 21px rgba(0, 0, 0, 0.12),inset -14px -14px 25px rgba(255, 255, 255, 0.25);
    box-sizing: border-box;
}
.listElem {
    
    width: 1140px;
    height: 79px;
    margin: auto;
    margin-top: 20px;
    border-radius: 15px;
    font-family: jura;
    font-size: 20px;
    box-sizing: border-box;
    padding-left: 20px;
    padding-top: 25px;
    user-select:text;
}

.selected {
    background: rgba(133,255,62,0.3);

}

.roundBtn {

    border-radius: 100%;
    width:50px ;
    height: 50px;
    margin-right: 20px;
    margin-bottom: 10px;
   

}
.bar {
    display: flex;
    flex-direction: row;
    width: 1160px;
    justify-content: space-between;
    margin: auto;
    margin-top:13.8% ;
  
    
}
.num {
 margin-top: 16px;
 margin-left: 50px;
    font-size: 23px;
}
.back {
    width:50px ;
    height: 50px;
    border-radius:100% ;
    
    

}
.back-img {
    width: 100%;
    height: 100%;
    background-image: url(img/back.svg);
    background-size: 100%;
}

.status {
 font-size: 20px;
 text-align: center;
 position: absolute;
 left: 40%;
 top:80%;
}

.genderSelector {
    overflow: hidden;
    width:fit-content;
    border-radius:70px;
    margin: 20px;
    font-size: 0;
}

.male {
   padding: 17px; 
   display:inline-block;
   border-right: 3px solid transparent;
   border-color: rgba(255, 255, 255,0.5);
   font-size: 20px;
}

.female {
    padding: 17px;
    display:inline-block;
    font-size: 20px;
 
 }




body {
   
    
   
    width: 100%;
    height: 100%;
    margin: 0;
    overflow: hidden;
    font-family: jura,sans-serif;
    font-weight: bold;
    overflow: hidden;
    font-weight: bold;
    
    user-select: none; 
}
html {
   
    width: 100%;
    height: 100%;
    margin: 0;
}
::placeholder {
    color: rgba(0, 0, 0, 1);
    font-weight: bold;
  }



input {
    font-weight: bold;
}


#orderStatus {
    position: absolute;
    left: 50%;
    top: 75%;
    text-align: left;

}

.dragable {
    
    -webkit-app-region: drag;
}
#dragBar {
     position: absolute;
 
     


    height: 40px;
    width: 87%;
   

}

#lineBar {
    background:  rgba(190,190,190,0.46);
    margin-left: 48%;
    margin-top: 10px;
    width: 200px;
    height:7px;
    border-radius: 100px;
  
}
#frame {
  
    width: 100%;
    height: 100%;
   
    border-radius: inherit;
   backdrop-filter: blur( 50px );
   box-sizing: border-box;
   
   background: rgba(190,190,190,0.14);
    
   border: 3px solid transparent;
   border-color: rgba(255, 255, 255,0.6);
overflow: hidden;
   
   
}
#bg {
    width: 100%;
    height: 100%;
   

    background: rgba(255, 255, 255);
    border-radius: 45px;
    
   
   
    
}



#bg-img {
    width: 100%;
    height: 100%;
  position: absolute;
   border-radius: inherit;
}

#quitBtn {
    position: absolute;
    right: 40px;
    width: 15px;
    height: 15px;
    top:15px;
    background-image: url("img/quit.svg");
    background-size: 100%;
    z-index: 1;
}
#fullBtn {
    position: absolute;
    right: 80px;
    width: 15px;
    height: 15px;
    top: 15px;
    background-image: url("img/full.svg");
    background-size: 100%;
    z-index: 1;
}
#nameWindow {
    position: absolute;
    left: 40px;
    width: 20px;
    height: 20px;
    top: 10px;
    font-family: nico,sans-serif;
    font-size: 25px;
    font-weight:normal;
    z-index: 1;
}
#closeBtn {
    position: absolute;
    right: 120px;
    width: 15px;
    height: 15px;
    top: 15px;
    background-image: url("img/close.svg");
    background-size: 100%;
    z-index: 1;
}
#Name {
    font-family: nico, sans-serif;
    font-weight:normal;   
    font-size: 80px;
    width: 50%;
    text-align: right;
    margin-left: 45%;
    margin-top: 3%;
    margin-bottom: 7%;
    

}
.titl {
    font-family: jura, sans-serif;
    font-size: 50px;
  
    text-align: center;
    margin: auto;
    margin-top: 4%;
    

}

.list {
    
    width: 1160px;
    height: 394px;
    border-radius: 25px;
    margin: auto;
    overflow: overlay;
    overflow-y: scroll;
    scroll-behavior: smooth;
  
   padding-bottom: 20px ;

}

.list::-webkit-scrollbar {
    display: none;
    }

.del {
    background-color: rgba(200, 8, 8, 0.14);
}



.clientBack {
    position: absolute;
    left: 50px;
    top:60px ;
}


.btnSection {
    display: flex;
    flex-direction: row;
  margin-right: 30px;
    
}


#createStatus {
    text-align: center;
    left: 30%;
    top: 85%;
}

#costC {
    width: 317px;
}

#HO {
    margin-top: 0;
}


#client {
    display: none;
}
#hair {
    display: none;
}
#order {
    display: none;
}
#create {
    display: none;
}
#OrderList {
    
    width: 200px;
    height: 200px;
    overflow-y: scroll;
}

#mainBtns {
    
    margin: auto;
    width:max-content;
    
    
}



#clientBtn {
    display: inline-block;
    width: 225px;
    height: 91px;
   
    text-align: center;

    border-radius:28px;
    margin-bottom: 36px ;
    font-family: jura, sans-serif;
    font-size:35px;
    padding: 20px;
    margin-right: 36px;
}

#hairBtn {
   
   
    display: inline-block;
    width: 225px;
    height: 91px;
    text-align: center;
    border-radius:28px;
    font-family: jura, sans-serif;
    margin-bottom: 36px ;
    font-size:35px;
    padding: 20px;

}

#OrderBtn {
    width: 486px;
    height: 91px;
   
    text-align: center;
    border-radius:28px;
    font-family: jura, sans-serif;
    margin-bottom: 35px ;
    font-size:35px;
    padding: 20px;

}


#CreateBtn {
    width: 486px;
    height: 91px;
   
    text-align: center;
    border-radius:28px;
    margin-bottom: 36px ;
    font-family: jura, sans-serif;
    font-size:35px;
    padding: 20px;
}

.search-img {
    width: 100%;
    height: 100%;
    background-image: url("img/search.svg");
    background-size: 100%;
}
.add-img {
    width: 100%;
    height: 100%;
    background-image: url("img/add.svg");
    background-size: 100%;
}
.edit-img {
    width: 100%;
    height: 100%;
    background-image: url("img/edit.svg");
    background-size: 100%;
}
.del-img {
    width: 100%;
    height: 100%;
    background-image: url("img/del.svg");
    background-size: 100%;
}

.searchClient {
    position: absolute;
    left: 88%;
    top: 38%;
    width: 62px;
    height: 62px;
    
}



.searchBack {
    margin: 20px;
    width:50px ;
    height: 50px;
    border-radius:100% ;
}

.searchArticle {

    font-size: 30px;
     position: absolute;
     left:10%;
    top: 7%; 
}
.searchSection {
   position: relative;
    width: 1160px;
    margin:auto;
    height: 300px;
    margin-top: 3%;
    border-radius: 25px;
    margin-bottom: 4%;
    display: none;
    
}


.F {
    border-radius: 50px;
    outline:none;
    font-family: jura, sans-serif;
    font-size:20px;
    padding: 20px;
    width: 230px;
    margin-left: 20px;
  
}

.I {
    border-radius: 50px;
    outline:none;
    font-family: jura, sans-serif;
    font-size:20px;
    padding: 20px;
    width: 200px;
    margin-left: 20px;
    
    
}

.O {
    border-radius: 50px;
    outline:none;
    font-family: jura, sans-serif;
    font-size:20px;
    padding: 20px;
    margin-left: 20px;
    margin-top: 20px;
}

.D {
    width: 200px;
    border-radius: 50px;
    outline:none;
    font-family: jura, sans-serif;
    font-size:20px;
    padding: 20px;
    margin-left: 20px;
}

.H {
    border-radius: 50px;
    outline:none;
    font-family: jura, sans-serif;
    font-size:20px;
    padding: 20px;
    margin-left: 20px;
    margin-top: 20px;
    
}

.createWindow {
    display: block;
    width: 1160px;
    height: 500px;
}

#orderInput {
    width:90%;
}


#genderSelectorCreate {
    display: inline-block;
    vertical-align: top;
}
#genderSelectorOrder {
    display: inline-block;
    vertical-align: top;
}

#searchArticleCreate {
    position: relative;
    left: 0;
    top: 0;
    margin: 30px;
}

#createOrder {

    position: absolute;
   
    left:auto;
    right: 3% ;
    top: 80%;
    margin: 0;
}

@font-face {
    font-family: jura; /* Имя шрифта */
    src: url(fonts/Jura-VariableFont_wght.ttf); /* Путь к файлу со шрифтом */
   }


   @font-face {
    font-family: nico; /* Имя шрифта */
    src: url(fonts/nicomoji/NicoMoji-Regular.ttf); /* Путь к файлу со шрифтом */
   }


